<header>
    <a href="./" style="text-decoration: none;"><span class="logo"></span></a>
    <nav>
        <a href="./">Home</a>
        <a href="diagnose">Diagnostic</a>
        <a href="website">Site Issues</a>
        <a href="game">Game Issues</a>
        <div class="dropdown">
            <button class="dropdown-toggle" type="button" aria-haspopup="true" aria-expanded="false">Fixes</button>
            <div class="dropdown-menu">
                <div class="dropdown-menu-inner">
                    <a href="dns">DNS</a>
                    <a href="antivirus">Antivirus</a>
                    <a href="warp">WARP</a>
                    <a href="warp-zero-trust">Zero Trust</a>
                </div>
            </div>
        </div>
    </nav>
</header>